@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 40px auto;
  max-width: 600px;
  border: 1px solid lightgray;
  padding: 0 35px;
  box-sizing: border-box;
  background-color: #fff;
  color: gray;
  font-family: 'Lato', sans-serif;
}

h1 {
  max-width: 650px;
  margin: 0;
  padding: 23px;
  background-color: #847ad1;
  color: #fff;
}

main {
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

#scores-table {
  margin: 0;
  width: 50%;
}

#scores-header {
  display: flex;
  justify-content: space-between;
}

#scores-header h3 {
  margin: 0;
  padding: 0;
}

#scores-list {
  margin: 20px 0;
}

#scores-list li {
  padding: 8px 0 8px 12px;
  list-style: none;
  margin: 10px 0;
  border: solid 1px lightgray;
}

#scores-form {
  margin: 0 auto;
  width: 30%;
}

#scores-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#scores-form h3 {
  margin: 0 0 15px 0;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#scores-form form input {
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}

#scores-form button {
  width: 65px;
  margin-top: 5px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #847ad1;
  color: #fff;
  text-align: center;
  transition: 0.5s ease;
  border: 1px solid #847ad1;
}

.button:hover {
  background-color: #fff;
  color: #847ad1;
  border: 1px solid lightgray;
}
